<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
<meta charset="utf-8">
<meta charset="utf-8">
<title>Your Match!</title>
</head>
{% block body %}
<body>
<div class="wrapper">
<div id="intro">
<h1> Your Match Is:</h1>
</div>
<div id="output1">
<h2>
{% for line in username %}
{{ line }}
{% endfor %}
</h2>
</div>
<div id="output2">
<h3>
{% for line in description %}
{{ line }}
{% endfor %}
</h3>
</div>
</div>
</body>
{% endblock %}
</html>